* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.video {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@media screen and (max-width: 400px) {
  .video {
    float: none;
    width: 100%;
  }
}


@media (min-aspect-ratio: 16/9) {
  .video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .video {
    width: auto;
    height: 100%;
  }
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}


#logo {
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
  font-family: "Josefin Sans", sans-serif;
}

#logo span {
  color: #f9d695;
}


input,
button {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
}


body {
    background-color: #fff;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

section {
    width: 100%;
    min-height: 100vh;
    padding: 2rem 0rem;
}

section .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

section .heading .title-heading {
    font-size: 34px;
    line-height: 44px;
    text-transform: uppercase;
    color: rgba(0, 27, 26, 0.75);
}

section .heading .subtitle-heading {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(0, 27, 26, 0.25);

}

section .heading .desc-heading {
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
    color: #555;
    max-width: 800px;
    text-align: center;
    padding: 0.5rem 1rem;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


.help-box .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(2, 224, 213);
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help-box .wrapper {
    font-size: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header .header-top .container .logo {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.header .header-top .container .logo img {
    height: 100%;
    width: fit-content;
    object-fit: cover;
}

.header .header-top .container .header-btns {
    display: flex;
    justify-content: flex-end;
    gap: 1.6rem;
    align-items: center;
}

.header .header-top .container .header-btns .h-btn {
    font-size: 16px;
    color: #fff;
    background-color: transparent;
}

.header .header-bottom .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
}

.header .header-bottom .social-list {
    width: 100%;
    display: flex;
    gap: 1.4rem;
    position: relative;
}

.header .header-bottom .social-list li a {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
}


.header .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-column: span 3;
}

.header .navigation ul {
    display: flex;
    gap: 1.4rem;
}

.header .navigation li a {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 0.5rem 0rem;
    border-top: 2px solid transparent;
}


.header .navigation li a:hover {
    color: #8fc3fb;
    border-top: 2px solid #8fc3fb;

}

.header .header-bottom .booking {
    display: flex;
    justify-content: flex-end;
}

.header .header-bottom .booking .btn-booking {
position: relative;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.home .video {
    margin-top: 2rem;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

.home .wrapper {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(27, 6, 0, 0.2), rgba(0, 27, 26, 0.65), rgba(0, 27, 26));

}

.home .wrapper .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home .wrapper .container .home-title {
    font-size: 64px;
    color: #fff;
    text-align: center;
}

.home .wrapper .container .home-title strong {
    font-size: 94px;
    color: #fff;
    text-align: center;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.home .wrapper .container .home-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .wrapper .container p {
    font-size: 18px;
    font-weight: 300;
    color: #eee;
    text-align: center;
    max-width: 700px;
    padding: 0rem 1rem;
}

.home .wrapper .container .home-btns {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    margin: 2rem 0rem;
}

.btn-explore {
    padding: 1rem 1.4rem;
    min-width: 180px;
    border-radius: 2rem;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
}

.btn-booking {
    min-width: 180px;
    padding: 1rem 1.4rem;
    border-radius: 2rem;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    border: 2px solid transparent;
    background-color: rgba(2, 224, 213, 0.5);
}

.home .wrapper .container .home-btns button:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: rgba(2, 224, 213, 0.5);
    border: 2px solid rgba(2, 224, 213, 0.5);
}

.touch-search {
    background: linear-gradient(to top, rgba(0, 27, 26, 0.5), rgba(0, 27, 26));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 6rem 0rem;
}

.touch-search .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    align-items: center;
}

.touch-search .form .input-line {
    border: 2px solid rgba(2, 224, 213, 0.25);
    box-shadow: 1px 1px 10px rgba(2, 224, 213, 0.25);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 1rem;
    background-color: #ffffffcc;
    border-radius: 2px;
}

.touch-search .form .input-line:hover {
    border: 2px solid rgba(2, 224, 213, 0.95);
    background-color: #ffffff;
}

.touch-search .form .input-line .input-label {
    font-size: 12px;
    font-weight: 600;
    color: rgba(0, 27, 26, 0.95);
}

.touch-search .form .input-line .input-field {
    font-size: 16px;
    color: #222;
    padding: 0.5rem 0.2rem;
    border: none;
    border-bottom: 2px solid rgba(0, 27, 26, 0.5);
    background-color: transparent;
}

.touch-search .form .btns-line {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

}

.touch-search .form .btn-booking {
    height: fit-content;
    border: 1px solid rgba(2, 224, 213, 0.5);
    color: rgb(249, 249, 249);
    background-color: transparent;
    background-color: #ffffff33;
    font-size: 14px;
    border-radius: 0px;

}

.touch-search .form .btn-booking.info {
    font-size: 12px;
    padding: 0.8rem 2rem;
    height: fit-content;
    border: 1px solid #fff;
    color: rgb(0, 0, 0);
    background-color: transparent;
    background-color: #ffffffcc;
    letter-spacing: 2px;

}


/* destination */

.destination .items {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

}

.fa fa-star{
    color: rgba(255,215, 0);
}


.destination .items .item {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 27, 26, 0.95);
    padding-bottom: 2rem;
    box-shadow: 1px 1px 3px #ccc;

}

.items img:hover {
  transition: 0.9s;
  transform: scale(1.3);
}

.destination .items .item .img-item {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.destination .items .item .img-item img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.destination .items .item .card {
    position: relative;
    z-index: 100;
    background-color: #ffffffee;
    margin-top: -100px;
    border-radius: 0.75rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    position: 100;
    width: 96%;
    margin-left: 2%;
    padding: 1rem;
}

.destination .items .item:hover .card {
    background-color: #ffffff;
}

.destination .items .item .card .stars {
    position: relative;
    float: right;
    z-index: 100;
    background-color: #fff;
    margin-top: -40px;
    border-radius: 0.75rem;
    width: fit-content;
    margin-left: 2%;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 27, 26, 0.95);
}

.destination .items .item .card .stars span {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.25);
}

.destination .items .item .card .stars span.active {
    font-size: 20px;
    color: #fff;
}

.destination .items .item .card .local {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: #444;
    text-transform: uppercase;
}

.destination .items .item .card .title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    color: rgba(0, 27, 26, 0.95);
    padding-bottom: 1rem;
}

.destination .items .item .card .desc {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #444;
}



.accom {
    background: linear-gradient(rgba(0, 27, 26, 0.75), rgba(0, 27, 26, 0.75));
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    background-size: cover;
}

.accom .heading .title-heading {
    color: #fff;
}

.accom .heading .subtitle-heading {
    color: #ffffffcc;
}

.accom .heading .desc-heading {
    color: #eee;
}

.accom .items {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.accom .items .item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0rem;
    overflow: hidden;

}

.accom .items .item .img-item {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}



.accom .items .item .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.accom .items .item .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    background-color: #ffffffee;
    position: 100;
    padding: 1rem;
}

.accom .items .item:hover .card {
    background-color: #ffffff;
}


.accom .items .item .card .local {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: #444;
    text-transform: uppercase;
}

.accom .items .item .card .title {
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    color: rgba(0, 27, 26, 0.95);
    padding-bottom: 1rem;
}

.accom .items .item .card .desc {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #444;
}

.accom .items .item .card .card-data {
    display: flex;
    align-items: center;
    background-color: rgba(0, 27, 26, 0.25);
    padding: 0.65rem 0.75rem;
    border-radius: 0.75rem;
    margin-top: 2rem;
    width: fit-content;

}

.accom .items .item .card .card-data span {
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 27, 26, 0.95);
}

.accom .items .item .card .card-data small {
    font-size: 15px;
    line-height: 15px;
    color: #fff;
    padding: 0rem 0.75rem;
}

.accom .items .item .card .card-data i {
    font-size: 16px;
    color: rgba(0, 27, 26, 0.5);
    padding: 0px 5px;
    width: fit-content;
}

.accom .items .item .details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-left: 6px solid inherit;
    background-color: rgba(3, 92, 131,0.6);
    box-shadow: 1px 1px 3px #ccc;
    margin-left: 1rem;

}

.accom .items .item .details .review {
    font-size: 30px;
    font-weight: 300;
}

.accom .items .item .details .stars {
    position: relative;
    float: right;
    z-index: 100;
    background-color: #fff;
    margin-top: 40px;
    border-radius: 0.75rem;
    width: fit-content;
    margin-left: 2%;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.accom .items .item .details .stars span {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.25);
}

.accom .items .item .details .stars span.active {
    font-size: 20px;
    color: #fff;
}

.accom .items .item .details .price {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.accom .items .item .details .price small {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 27, 26, 0.5);
}


.transpo {
    background-color: #fff;
}

.transpo .items {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;

}

.transpo .items .item {
    width: 100%;
    border-radius: 1.4rem;
    overflow: hidden;
}

.transpo .items .item:nth-child(2) {
    grid-column: span 2;
}

.transpo .items .item:nth-child(4) {
    grid-column: span 2;
}

.transpo .items .item:nth-child(9) {
    grid-column: span 2;
}

.transpo .items .item .img-item {
    width: 100%;
    height: 230px;
    overflow: hidden;
}

.transpo .items .item .img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.contact .items {
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.contact .items .item {
    width: 100%;
}

.contact .items .item .contact-title {
    font-size: 50px;
    text-transform: capitalize;
    color: rgba(0, 27, 26, 0.95);

}

.contact .items .item .contact-subtitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(0, 27, 26, 0.95);
}

.contact .items .item .contact-desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0rem;
    padding-right: 2rem;
}

.contact .items .item .contact-desc p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
}

.contact .help-box {
    margin-bottom: 1.6rem;
}

.contact .help-box .wrapper {
    color: #111;
}

.contact .item:nth-child(2) {
    position: relative;
}

.contact .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 2rem;
    position: relative;
    z-index: 1000;
    background-color: #111;
}

.contact .item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: -2rem;
    left: -2rem;
    background-color: rgb(3, 92, 131);
    z-index: -10;
}

.contact .form .line {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    padding: 0.5rem;
    background-color: rgb(3, 92, 131, 0.1);
}

.contact .form .line label {
    font-size: 14px;
    text-transform: capitalize;
    color: #eee;

}

.contact .form .line .input {
    padding: 0.5rem 0rem;
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
}

.contact .form .btn-submit {
    padding: 1rem 1.6rem;
    background-color: rgb(173, 80, 175, 0.4);
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
}

.contact .form .btn-submit:hover {
    background-color: rgb(34, 108, 165, 0.7);
}

.footer {
    background-color: #000;
    padding-top: 2rem;
}

.footer .navigation {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.footer .navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.footer .navigation ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #ccc;
    text-transform: uppercase;
    text-decoration: underline;
}

.footer .navigation ul li a:hover {
    color: #fff;
}

.footer .rights {
    border-top: 1px solid #777;
    padding: 1rem 0rem;
    font-size: 16px;
    font-weight: 400;
    color: #eee;
    display: flex;
    justify-content: center;
}

.close-btn ,#bars{
    display: none;
}

@media (max-width:700px) {
    .home .wrapper .container .home-subtitle {
        display: none;
    }
    .close-btn {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: #fff;
    }

    .navigation {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        background-color: #000;
        transition: all 1s;
    }

    #bars:checked~.navigation {
        position: fixed;
        top: 0;
        left: 0%;
        width: 100%;
        height: 100vh;
        background-color: #000;

    }

    .header .navigation ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .header-top .container {
        display: flex;
        justify-content: space-between;

    }

    .header .header-bottom .btn-booking {
        position: absolute;
        top: 4rem;
        left: 1rem;
        width: fit-content;
        height: 28px;
        border-radius: 0.2rem;
        overflow: hidden;
        padding: 0px 0.25rem !important;
        max-width: 80px !important;
        width: 50px;
        text-align: left;
        background-color: transparent;

    }

    .header .header-bottom .social-list {
        position: absolute;
        top: 1rem;
        left: 1rem;
        width: fit-content;
    }

    .header .help-box {
        display: none;

    }
}



/* ABOUT*/


.about {
  font-size: 6vmin;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: rotateY(-50%);
  text-align: center;
  color: #2d6629;
}

.council {
  font-size: 6vmin;
  width: 100%;
  transform: rotateY(-50%);
  text-align: center;
  color: #2d6629;
}

.council, h5{
  text-decoration: underline ;
}

.manjuyod {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.level {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.official {
  text-align: center;
  margin: 0 10px;
}

.official img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}


.button-49,
.button-49:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}


/* Delicacies*/


.delicacies .items .item .img-item {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.delicacies .items .item .img-item img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.delicacies .items .item .card {
    position: relative;
    z-index: 100;
    background-color: #ffffffee;
    margin-top: -100px;
    border-radius: 0.75rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    position: 100;
    width: 96%;
    margin-left: 2%;
    padding: 1rem;
}

.delicacies .items .item:hover .card {
    background-color: #ffffff;
}

.delicacies .items .item .card .stars {
    position: relative;
    float: right;
    z-index: 100;
    background-color: #fff;
    margin-top: -40px;
    border-radius: 0.75rem;
    width: fit-content;
    margin-left: 2%;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 27, 26, 0.95);
}

.delicacies .items .item .card .stars span {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.25);
}

.delicacies .items .item .card .stars span.active {
    font-size: 20px;
    color: #fff;
}

.delicacies .items .item .card .local {
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    color: #444;
    text-transform: uppercase;
}

.delicacies .items .item .card .title {
    font-size: 22px;
    line-height: 27px;
    font-weight: 500;
    color: rgba(0, 27, 26, 0.95);
    padding-bottom: 1rem;
}

.delicacies .items .item .card .desc {
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: #444;
}



